#!/bin/zsh

# aliases {{{
alias ls="ls --color=auto -A"
alias less="bat --paging=always"
alias cat="bat --paging=never"
alias ll="ls --color=auto -lAhG"
alias rm="rm -Ivr"
alias lf="lfrun"
alias mv="mv -iv"
alias cp="cp -iv"
alias mkdir="mkdir -pv"
alias c="clear"
alias grep="grep --color=auto"
alias moc="mocp -M ~/.config/moc"
alias pm="pulsemixer"
alias glp="git log -p"
alias gls="git log --stat"
alias gl="git log"
alias df="df -h"
alias free="free -h"
alias du="du -sh"
alias so="sxiv -t ."
alias poweroff="systemctl hibernate"
alias vd="yt-dlp --format mp4 -S 'res:1080'"
alias md="yt-dlp -x --audio-format mp3 -o '~/mc/%(title)s.%(ext)s'"
# }}}

# for abbreviation {{{
source ~/.local/bin/zsh/zsh-abbr
abbr v="nvim"
abbr sc="shellcheck"
abbr p="doas pacman"
abbr s="sxiv"
abbr d="doas"
abbr g="git"
abbr ko="killall"
abbr m="man"
abbr z="zathura"
abbr gc="git commit -m"
abbr gh="git checkout"
abbr gca="git commit --amend"
abbr gcn="git commit --amend --no-edit"
abbr ga="git add -v"
abbr gr="git restore"
abbr gv="git revert"
abbr gpl="git pull --rebase"
abbr gr.="git restore ."
abbr gva="git revert --abort"
abbr grs="git restore --staged"
abbr gf="git reset --hard"
abbr gs="git status"
abbr gp="git push -v"
abbr gd="git diff"
abbr gq="git stash"
abbr gqa="git stash apply"
abbr gqc="git stash clear"
abbr gdc="git diff --cached"
abbr gb="git rebase -i"
abbr gba="git rebase --abort"
abbr gbc="git rebase --continue"
abbr gpf="git push -v --force"
abbr gcl="git clone"
abbr ga.="git add ."
abbr gom="git checkout master"
abbr gw="git switch"
abbr cl="curl -LsG"
